
foo/
*~
*.pyc
*.pyo
*.tmp*
*.mo
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.kpf
*.swp
*.wpr
.*.cfg
.installed.cfg
.mr.developer.cfg
.hg/
.bzr/
.svn/
.project
.pydevproject
bin/
lib/
build/
local/
develop-eggs/
downloads/
eggs/
fake-eggs/
parts/
dist/
var/
user-tags*.txt
*.pkl
raw-response.txt
pics/
ember-starter-kit-1.0.0-rc.2/
bootstrap/
