.demo {
  font-family: helvetica, sans-serif;
  font-size: 24px;
  color: #FF4A9E;
  font-style: normal;
  font-weight: bold;
  font-variant: small-caps;
  text-align: left;
  letter-spacing: 0px;
  line-height: 20px;
}
.clicked {
  color: #5EFF64;
}

